<body>
<h1 class="titleShop"> Nuestros Libros </h1>

<div class="container">

    <div class="card-container">

        <div class=" card float-left overflow-hidden ">
        <img src="../../../assets/Books/book1.jpg">
        <div class="card-content col-12 ">
          <h3>El Reto</h3>
            <p>Autores: Pilar Burgos & David Liston</p>
            <p>Precio: 45.000 COP</p>
          <a class="btn">Buy</a>
         </div>
        </div>
    
        <div class=" card float-left overflow-hidden ">
            <img src="../../../assets/Books/book2.jpg">
            <div class="card-content col-12 ">
              <h3>The Princess and the Goblin</h3>
                <p>Autor: George MacDonald</p>
                <p>Precio: 50.000 COP</p>
              <a class="btn">Buy</a>
             </div>
            </div>
    
        <div class=" card float-left overflow-hidden ">
        <img src="../../../assets/Books/book3.jpg">
        <div class="card-content col-12 ">
          <h3>The Unknown Game</h3>
            <p>Autor: TwoHairs</p>
            <p>Precio: 45.000 COP</p>
          <a class="btn">Buy</a>
         </div>
        </div>
            
    
        <div class=" card float-left overflow-hidden ">
            <img src="../../../assets/Books/book4.jpg">
            <div class="card-content col-12 ">
              <h3>Lili's Lost Purr</h3>
                <p>Autora: Autor: India Redman</p>
                <p>Precio: 50.000 COP</p>
              <a class="btn">Buy</a>
             </div>
            </div>
    
    <div class=" card float-left overflow-hidden ">
        <img src="../../../assets/Books/book5.jpg">
        <div class="card-content col-12 ">
          <h3>Eli & Gaston</h3>
            <p>Autor: Ludovic Villain</p>
            <p>Precio: 48.000 COP</p>
          <a class="btn">Buy</a>
         </div>
        </div>
    
    <div class=" card float-left overflow-hidden ">
        <img src="../../../assets/Books/book6.jpg">
        <div class="card-content col-12 ">
          <h3>Adventure Time</h3>
            <p>Autor: Unknown</p>
            <p>Precio: 55.000 COP</p>
          <a class="btn">Buy</a>
         </div>
        </div>
    
    <div class=" card float-left overflow-hidden ">
        <img src="../../../assets/Books/book7.jpg">
        <div class="card-content col-12 ">
          <h3>Wait where the Shooting Star Falls</h3>
            <p>Autor: Unknown</p>
            <p>Precio: 47.000 COP</p>
          <a class="btn">Buy</a>
         </div>
        </div>
    
        <div class=" card float-left overflow-hidden ">
            <img src="../../../assets/Books/book8.jpg">
            <div class="card-content col-12 ">
              <h3>Charlotte's Web</h3>
                <p>Autor: E.B White</p>
                <p>Precio: 50.000 COP</p>
              <a class="btn">Buy</a>
             </div>
            </div>
    
        <div class=" card float-left overflow-hidden ">
        <img src="../../../assets/Books/book9.jpg">
        <div class="card-content col-12 ">
          <h3>Magalina</h3>
            <p>Autor: Sylvia Douye</p>
            <p>Precio: 35.000 COP</p>
          <a class="btn">Buy</a>
         </div>
        </div>
    
        <div class=" card float-left overflow-hidden ">
            <img src="../../../assets/Books/book10.jpg">
            <div class="card-content col-12 ">
              <h3>Xiaobijianer</h3>
                <p>Autor: Unknown</p>
                <p>Precio: 35.000 COP</p>
              <a class="btn">Buy</a>
             </div>
            </div>
    
      </div>
      </div>

</body>